body {
  font-family: 'Special Elite', monospace;
}

h1, h2, h3 {
  font-family: 'Special Elite', monospace; /* typewriter headings */
}

.subtext {
  font-family: 'Special Elite', monospace; /* typewriter subtext too */
}
